* {
    background-color: black;
}

.heading {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: white;
}

.hero-image {
    width: 50%;
    height: auto;
}

.recipe-item a {
    color: white;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}

